.tablet{
  display: block;
  position: relative;
  justify-content: center;
  width: 100%;
}
.tablet img{
  position: relative;
  margin: auto;
}
.btn{
  border: none;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  background-color: gray;
}
.btndiv{
  position: absolute;
  left: 21%;
  top: 60%;
}

.progbar{
  position: absolute;
  left: 15%;
  top: 70%;
  margin-top: 25px;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }